.App-header{
  /* background-color: var(--primary-color); */
  background:  var(--linear-gradient);
  color: var(--light-color);
  padding:  10px 0;
}
.App-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.App-logo{
  width: 40px;
}
.brand{
  display: flex;
  align-items: center;
  font-size: 22px;

}